:root {
  --medplum-font-small: 14px;
  --medplum-font-normal: 16px;
  --medplum-font-big: 18px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.medplum-sidebar > ul > li > a {
  font-size: 15px;
}

.medplum-timeline-item {
  max-width: 900px !important;
}

.medplum-timeline .medplum-timeline-item-title > a {
  font-size: 14px;
  font-weight: 500;
}
