:root {
  --medplum-font-small: 14px;
  --medplum-font-normal: 16px;
  --medplum-font-big: 18px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.medplum-sidebar > ul > li > a {
  font-size: 15px;
}

.medplum-timeline-item {
  max-width: 900px !important;
}

.medplum-timeline .medplum-timeline-item-title > a {
  font-size: 14px;
  font-weight: bold;
}

table.foo-table {
  border-collapse: collapse;
  width: 100%;
}

table.foo-table > thead > tr > th,
table.foo-table > tbody > tr > td {
  border-bottom: 0.1px solid var(--medplum-gray-300);
  padding: 8px 6px;
  color: rgb(73, 80, 87);
  font-size: 14px;
}

table.foo-table > tbody > tr > td {
  border-top: 0.1px solid var(--medplum-gray-300);
}

.medplum-status-active,
.medplum-status-arrived,
.medplum-status-chcked-in,
.medplum-status-draft,
.medplum-status-in-progress,
.medplum-status-preliminary,
.medplum-status-proposed,
.medplum-status-pending,
.medplum-status-registered,
.medplum-status-requested {
  background-color: var(--medplum-blue-50);
  border: 0.01px solid var(--medplum-blue-300);
  color: var(--medplum-blue-800);
}

.medplum-status-on-hold {
  background-color: var(--medplum-orange-50);
  border: 0.01px solid var(--medplum-orange-300);
  color: var(--medplum-orange-800);
}

.medplum-status-booked,
.medplum-status-completed,
.medplum-status-fulfilled {
  background-color: var(--medplum-green-50);
  border: 0.01px solid var(--medplum-green-300);
  color: var(--medplum-green-800);
}

.medplum-status-cancelled,
.medplum-status-noshow,
.medplum-status-rejected,
.medplum-status-revoked,
.medplum-status-entered-in-error {
  background-color: var(--medplum-red-50);
  border: 0.01px solid var(--medplum-red-300);
  color: var(--medplum-red-800);
}

.medplum-status-unknown,
.medplum-status-waitlist {
  background-color: var(--medplum-gray-50);
  border: 0.01px solid var(--medplum-gray-500);
  color: var(--medplum-gray-800);
}

/*

Use "priority" as status

Code	Display	Definition
routine	Routine	The request has normal priority.
urgent	Urgent	The request should be actioned promptly - higher priority than routine.
asap	ASAP	The request should be actioned as soon as possible - higher priority than urgent.
stat	STAT	The request should be actioned immediately - highest possible priority. E.g. an emergency.

*/

.medplum-status-routine {
  background-color: var(--medplum-gray-50);
  border: 0.01px solid var(--medplum-gray-500);
  color: var(--medplum-gray-800);
}

.medplum-status-urgent,
.medplum-status-asap,
.medplum-status-stat {
  background-color: var(--medplum-red-50);
  border: 0.01px solid var(--medplum-red-300);
  color: var(--medplum-red-800);
}
